
@media screen and (max-width: 1280px) {
  
    /* Navbar */
    .navbar .wrapper .right {
        flex-direction: column;
        position: absolute;
        top: -260px;
        right: 0px;
        background-color: rgb(36, 154, 63);
        padding: 20px 10px;
        width: 25%;
        color: white;
        transition: all .5s ease-in;
        z-index: 10;
    }

    .navbar .wrapper .active {
        top: 85px;
    }

    .navbar .wrapper .right .icons {
        color: white;
    }

    .navbar .wrapper .show_menu {
        display: flex;
    }

    .navbar .wrapper .cats {
        display: none;
    }

    /* Home Slider */
    .slider .container img {
        object-fit: cover;
    }

    /* categories */
    .categories {
        height: 50vh;
    }

    /* contact */
    .contact .wrapper{
        width: 80%;
    }

    /* cart */
    .cart {
        top: 340px;
        right: 0px;
    }

}

@media screen and (max-width: 840px) {
    /* Featured products */

    .featuredProducts .top {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .featuredProducts .bottom {
        gap: 10px;
    }

    .featuredProducts {
        margin: 50px;
    }

    /* footer */

    .footer .top {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .footer .top .item{
        text-align: center;
    }

    .footer .bottom {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    /* contact */

    .contact .wrapper{
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media screen and (max-width: 720px) {
    .categories {
        display: grid;
        grid-template-columns: 1fr;
        width: 50%;
        height: 150vh;
        margin: auto;
    }
}

@media screen and (max-width: 520px) {
    .navbar .wrapper .left {
        display: none;
    }

    .navbar .wrapper .right {
        width: 50%;
    }
}