
@media screen and (max-width: 1280px) {
  
    /* Navbar */
    .navbar .wrapper .right {
        flex-direction: column;
        position: absolute;
        top: -260px;
        right: 0px;
        background-color: rgb(36, 154, 63);
        padding: 20px 10px;
        width: 25%;
        color: white;
        transition: all .5s ease-in;
        z-index: 10;
    }

    .navbar .wrapper .active {
        top: 85px;
    }

    .navbar .wrapper .right .icons {
        color: white;
    }

    .navbar .wrapper .show_menu {
        display: flex;
    }

    .navbar .wrapper .cats {
        display: none;
    }

    /* Home Slider */
    .slider .container img {
        object-fit: cover;
    }

    /* categories */
    .categories {
        height: 50vh;
    }

    /* contact */
    .contact .wrapper{
        width: 80%;
    }

    /* cart */
    .cart {
        top: 340px;
        right: 0px;
    }

}

@media screen and (max-width: 1080px) {
    /* products */
    .products {
        gap: 40px;
    }

    .products .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* list */

    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    /* products */
    /* list */
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 840px) {
    /* Featured products */

    .featuredProducts .top {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .featuredProducts .bottom {
        gap: 10px;
    }

    .featuredProducts {
        margin: 50px;
    }

    /* footer */

    .footer .top {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .footer .top .item{
        text-align: center;
    }

    .footer .bottom {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    /* contact */

    .contact .wrapper{
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media screen and (max-width: 720px) {
    /* categories */
    .categories {
        display: grid;
        grid-template-columns: 1fr;
        width: 50%;
        height: 150vh;
        margin: auto;
    }

    /* product */
    .product {
        flex-direction: column;
    }

    .product .left {
        flex-direction: column;
    }

    .product .left .images {
        display: flex;
        gap: 50px;
    }

    .product .left .mainImg {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product .left .mainImg img{
        width: 60%;
    }

    /* products */
    /* Card */
    .card {
        width: 150px;
    }

}

@media screen and (max-width: 600px) {
    /* card */
    .card {
        width: 200px;
    }

    /* list */
    .list {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 520px) {
    .navbar .wrapper .left {
        display: none;
    }

    .navbar .wrapper .right {
        width: 50%;
    }

    /* product */

    .product .left .mainImg img{
        width: 100%;
    }

    /* products */

    .products {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .products .right .catImg {
        display: none;
    }
    
}

@media screen and (max-width: 280px) {
    .navbar .wrapper {
        padding: 0;
    }

    .navbar .wrapper .center {
        font-size: 20px;
    }
}